@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

$mainGreen: #4caf50;
$mainGreenLight: #81c784;
$mainGreenDark: #388e3c;
$mainWhite: #ffffff;
$uiBackground: #f5f5f5;
$mainText: #212121;
$mainGray: #b0b0b0;
$mainGrayLight: #ededed;
$mainRed: #ff5252;

$defaultFontFamily: 'montserrat', sans-serif;
$defaultTextColor: $mainText;
$defaultFontSize: 14px;
$mediumFontSize: 16px;
$bigFontSize: 28px;
$defaultFontWeight: 400;
$defaultLineHeight: 1.2;

$smallPadding: 12px;
$mediumPadding: 18px;
$bigPadding: 28px;

$smallMargin: 12px;
$mediumMargin: 18px;
$bigMargin: 24px;
