@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

$mainGreen: #4caf50;
$mainGreenLight: #81c784;
$mainGreenDark: #388e3c;
$mainWhite: #ffffff;
$uiBackground: #f5f5f5;
$mainText: #212121;
$mainGray: #b0b0b0;
$mainGrayLight: #ededed;
$errorRed: #ff5252;

$defaultFontFamily: 'montserrat', sans-serif;
$defaultTextColor: $mainText;
$defaultFontSize: 14px;
$defaultFontWeight: 400;
$defaultLineHeight: 1.2;
