PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://leisuretask:leisuretask@localhost:5432/leisuretask?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=LeisureTask
FROM_EMAIL_ADDRESS=noreply@brevo.leisuretask.online
DEBUG=leisuretask:*,-leisuretask:prisma:*,-leisuretask:trpc:query:success,-leisuretask:trpc:mutation:saveTime:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
# SOURCE_VERSION=111
CLOUDINARY_CLOUD_NAME=dt6re1ohd
# CLOUDINARY_API_KEY=!!!SECRET!!!
# CLOUDINARY_API_SECRET=!!!SECRET!!!