@use '../../../styles/vars';
@use '../../../styles/mixins';

.taskDragWrapper {
  position: relative;

  &:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 1px;
    background-color: vars.$mainGrayLight;
  }
}
