@use '../../../styles/vars';
@use '../../../styles/mixins';
@use '../../../../node_modules/include-media/dist/include-media';

.task {
  @include mixins.flex(row, align, space-between);
  width: 100%;
  padding: vars.$smallPadding;
  border-radius: 5px;
  position: relative;

  @include include-media.media('<=phone') {
    padding: vars.$smallPadding calc(vars.$smallPadding / 2);
    flex-wrap: wrap;
    gap: 8px;
  }

  &.selected {
    background-color: vars.$mainGrayLight;

    &:hover {
      background-color: vars.$mainGrayLight;
    }
  }

  &:hover {
    background-color: vars.$uiBackground;
  }

  .mainInfo {
    @include mixins.flex;
    flex: 1;
    min-width: 0;

    .title {
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include include-media.media('<=phone') {
      width: 100%;

      .title {
        font-size: 14px;
      }
    }
  }

  .additionalInfo {
    @include mixins.flex;
    color: vars.$mainGreen;
    font-size: vars.$defaultFontSize;

    @include include-media.media('<=phone') {
      font-size: 12px;
      margin-left: auto;
    }
  }

  &.failed {
    .additionalInfo {
      color: vars.$mainRed;
    }
  }
}
