@use '../../../styles/vars';
@use '../../../styles/mixins';
@use '../../../../node_modules/include-media/dist/include-media';

.task {
  @include mixins.flex(row, align, space-between);
  width: 100%;
  padding: vars.$smallPadding;
  border-radius: 5px;
  position: relative;

  &.selected {
    background-color: vars.$mainGrayLight;

    &:hover {
      background-color: vars.$mainGrayLight;
    }
  }

  &:hover {
    background-color: vars.$uiBackground;
  }

  .mainInfo {
    @include mixins.flex;

    .title {
      margin-left: 8px;
    }
  }

  .additionalInfo {
    @include mixins.flex;
    color: vars.$mainGreen;
  }
}
