@use '../../styles/vars';
@use '../../styles/mixins';
@use '../../../node_modules/include-media/dist/include-media';

.content {
  @include mixins.flex(column, normal);
  flex: 1;
  position: relative;
  padding: vars.$bigPadding;
  overflow-y: auto;
  height: 100vh;

  .bigText {
    font-size: vars.$bigFontSize;
    margin-bottom: vars.$bigMargin;
  }

  .taskWrapper {
    position: relative;
  }

  .openCreateTaskFormButton {
    @include mixins.flex;
    margin-top: auto;
    align-self: flex-end;
    position: sticky;
    bottom: 0;
    width: fit-content;
    padding: 15px;
    background-color: vars.$uiBackground;
    color: vars.$mainGray;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;

    &:hover {
      background-color: vars.$mainGrayLight;
    }

    &:active {
      background-color: vars.$mainGreenLight;
      color: vars.$mainWhite;
    }

    &:focus {
      outline: vars.$mainGrayLight;
    }
  }
}

.addTaskForm {
  @include mixins.flex(column, flex-start);

  .taskField {
    @include mixins.flex(column, flex-start);
    margin-bottom: 60px;
  }

  .label {
    margin-bottom: 8px;
  }

  .textInput {
    width: 600px;
    padding: vars.$smallPadding;
    border: 0;
    background-color: vars.$uiBackground;
    border-radius: 5px;

    &::placeholder {
      color: vars.$mainGray;
      opacity: 1;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  .errorInput {
    border: 1px solid vars.$mainRed;
  }

  .error {
    color: vars.$mainRed;
    margin-top: 4px;
  }

  .createTaskButton {
    @include mixins.flex;
    padding: 8px;
    background-color: vars.$mainGreen;
    color: vars.$mainWhite;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    align-self: flex-end;

    &:hover {
      background-color: vars.$mainGreenLight;
    }

    &:active {
      background-color: vars.$mainGrayLight;
    }
  }
}
