@use '../../styles/vars';
@use '../../styles/mixins';

:global {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .ReactModal__Content {
    top: vars.$bigPadding;
    transition: top 200ms ease-in-out;
  }

  .ReactModal__Content--after-open {
    top: 40px;
  }

  .ReactModal__Content--before-close {
    top: vars.$bigPadding;
  }
}

.modalOverlay {
  @include mixins.flex(column);
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal {
  @include mixins.flex(row, normal);
  position: absolute;
  min-width: 660px;
  background: vars.$mainWhite;
  border-radius: 5px;

  .modalSidebar {
    @include mixins.flex(column, flex-start);
    padding: 16px 12px;
    background: vars.$uiBackground;
    border-right: 1px solid vars.$mainGrayLight;
    border-radius: 5px 0 0 5px;

    .sidebarTab {
      @include mixins.flex(row, center);
      cursor: pointer;
      color: vars.$mainGray;

      .sidebarIcon {
        margin-right: 8px;
      }

      &:hover {
        color: vars.$mainGreenLight;
      }
    }

    .activeTab {
      color: vars.$mainGreen;

      &:hover {
        color: vars.$mainGreen;
      }
    }
  }

  .modalContent {
    @include mixins.flex(column);
    width: 100%;

    padding: vars.$bigPadding;
  }
}
