@use '../../styles/vars';
@use '../../styles/mixins';
@use '../../../node_modules/include-media/dist/include-media';

.layout {
  @include mixins.flex(row, normal, normal);
  height: 100%;
  background: url('./app-background-image.png') repeat;

  .navigation {
    @include mixins.flex(column);
    @include mixins.border;
    padding: vars.$smallPadding;
    background-color: vars.$uiBackground;

    .link {
      color: vars.$mainGray;
      height: 30px;

      &:hover {
        color: vars.$mainGreenLight;
        transition: none;
      }

      .logo {
        height: 30px;
      }
    }
  }
}
