@use '../../styles/vars';
@use '../../styles/mixins';
@use '../../../node_modules/include-media/dist/include-media';

.loader {
  &.type-fullscreen {
    position: relative;
    display: block;
    width: 100%;
    min-height: inherit;
    height: 100%;
    @include mixins.loader(
      $borderWidth: 5px,
      $size: 40px,
      $color: vars.$mainGreen
    );

    @include include-media.media('<=tablet') {
      @include mixins.loader(
        $borderWidth: 4px,
        $size: 35px,
        $color: vars.$mainGreen
      );
    }

    @include include-media.media('<=phone') {
      @include mixins.loader(
        $borderWidth: 3px,
        $size: 30px,
        $color: vars.$mainGreen
      );
    }
  }

  &.type-inline {
    position: relative;
    display: block;
    height: 80px;
    width: 100%;
    @include mixins.loader(
      $borderWidth: 4px,
      $size: 30px,
      $color: vars.$mainGreen
    );

    @include include-media.media('<=tablet') {
      height: 60px;
      @include mixins.loader(
        $borderWidth: 3px,
        $size: 25px,
        $color: vars.$mainGreen
      );
    }

    @include include-media.media('<=phone') {
      height: 50px;
      @include mixins.loader(
        $borderWidth: 2px,
        $size: 20px,
        $color: vars.$mainGreen
      );
    }
  }
}
