@use '../../styles/vars';
@use '../../styles/mixins';

.dropdownMenu {
  @include mixins.flex(column, flex-start);
  background-color: vars.$uiBackground;
  padding: 16px 8px;
  border-radius: 5px;
}

.dropdownMenuItem {
  @include mixins.flex(row, center);
  color: vars.$mainGray;
  padding: 0 4px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 12px;

    &:hover {
      color: vars.$mainGreenLight;
    }

    &:active {
      color: vars.$mainGreen;
    }
  }

  &:hover {
    color: vars.$mainRed;
  }

  .dropdownMenuItemIcon {
    margin-right: 8px;
  }
}

.dropdownMenuSeparator {
  height: 1px;
  background-color: vars.$mainGray;
  width: 100%;
  margin-bottom: 12px;
}
