@use '../../styles/vars';
@use '../../styles/mixins';
@use '../../../node_modules/include-media/dist/include-media';

.left {
  transform: rotate(180deg);
}

.top {
  transform: rotate(-90deg);
}

.bottom {
  transform: rotate(90deg);
}
