PORT="8000"
HOST_ENV=local
# SOURCE_VERSION=111
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
VITE_WEBAPP_URL="http://localhost:8000"
# VITE_WEBAPP_SENTRY_DSN=!!!SECRET!!!
VITE_CLOUDINARY_CLOUD_NAME=dt6re1ohd
VITE_MIXPANEL_API_KEY=!!!SECRET!!!