@use '../../styles/vars';
@use '../../styles/mixins';
@use '../../../node_modules/include-media/dist/include-media';

.sidebar {
  @include mixins.flex(column);
  @include mixins.border;
  height: 100%;
  position: relative;
  padding: 22px 28px;
  background-color: rgba(vars.$surface, 0.92);
  min-width: 270px;
  max-width: 600px;
  box-shadow: 12px 0 34px rgba(vars.$mainText, 0.04);

  @include include-media.media('<=tablet') {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;

    @include include-media.media('<=tablet') {
      display: none;
    }
  }

  h2 {
    @include mixins.h2;
    color: vars.$mainText;
    line-height: 1.35;

    @include include-media.media('<=phone') {
      font-size: 14px;
    }
  }
}
